
				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>OneiRRos</h1>
							<p><strong>OneiRRos</strong> is a platform for Rival Region enhancement in developpment.</p>
							<ul class="actions">
								{% if not session.loggedIn %}
								<li><a href="#login" class="button scrolly">Login</a></li>
								<li><a href="#login" class="button scrolly">Register</a></li>
								{% endif %}
							</ul>
						</div>
					</section>
